<main>
   
    {{!-- <form id="sign-form" method="post" action="/signup">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Username"/>

        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password"/>

        <button id="sign-button" type="submit">SignUp</button>
    </form>
    {{#if error}}
        <h3>{{error}}</h3>
    {{/if}}
    <br>
    <a href="/">Already have an account? Click here to log-in</a> --}}

    <div class="main">

        <section class="createTrainer">
            
            <div class="container">
                <div class="createTrainer-content">
                    <form method="post" action="trainers/createTrainer" id="trainer-form" class="trainer-form">
                        <h1 class="form-title">Create Trainer</h1>
                        {{!--  --}}
                        <div class="form-row">
                            <select name="gymId" id="gymId">
                                {{#each gymList}}
                                    <option value="{{this._id}}">{{this.gymName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-6 mb-2">
                            <input type="text" class="form-input " name="trainerFirstName" id="trainerFirstName" placeholder="First name" required/>
                        </div>
                        <div class="form-group col-md-6 mb-2">
                            <input type="text" class="form-input" name="trainerLastName" id="trainerLastName" placeholder="Last name" required/>
                        </div>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-input" name="emailId" id="emailId" placeholder="Email" required/>
                        </div>

                        <div class="form-group col-md-6 mb-3">
                          
                          <select class="form-control" id="gender" name="gender" placeholder="Select Gender" required>
                              <option value="none" class="gray" selected disabled hidden>Select Gender</option>
                              <option value="Female">Female</option>
                              <option value="Male">Male</option>
                              <option value="Other">Other</option>
                            </select>
                        </div>

                        {{!-- Gym id will be given by gym page --}}
                       

                        <div class="form-group">
                          {{!-- <label for="mobile">Enter Mobile number</label> --}}
                          <input type="tel" class="form-input" id="phoneNo" name="phoneNo" 
                                 placeholder="Enter 10-digit phone number" pattern="[0-9]{10}" 
                                 maxlength="10" minlength="10" required>
                        </div>
                        
                         <div class="form-group"></div>
                        <label for="experience">Experience</label>
                        <input id="experience" type="number" class="form-input" name="experience" placeholder="Experience in Years" required>
                         </div>
                        {{!--  --}}
                        
                        <div class="form-group">
                            <button type="button"  id="submitTCreate" class="btn btn-primary">submit</button>
                            {{!-- <input type="submit" name="submit" id="submit" class="form-submit" value="Submit"/> --}}
                        </div>
                        <div class="form-group" id="errorTCreate">
                            
                        </div>
                    </form>
                    {{#if error}}
                    <h3>{{error}}</h3>
                    {{/if}}
                    {{!-- <p class="loginhere">
                        Have already an account ? <a href="/login" class="loginhere-link" >Login here</a>
                    </p> --}}
                </div>
            </div>
        </section>

    </div>
    

</main>