<main>
    <section class="landingPage">
    <div class="container-fluid front">
      <div class="row">

            



          <div class="col-lg-6 offset-md-3 info ">
              <h1 class="text-center">GymStar</h1> 
              <p class="text-center"> An Innitiative to make people fit !! </p> 
              <br>
              <a href="/gyms" class="btn btn-warning text-center">Get Started</a>
          </div>
      </div>

    </div>
  </section>



    <section id="howit">
      <h2 class="howit">How it works</h2>
      <div class="row  container-fluid">
        <div class="col-lg-4 col-sm-12 feature-two ">
          <i class="fas fa-search fa-4x featureicon"></i>
          <h3>Find the best gym</h3>
          <p>You can search for the best gym for you.</p>
        </div>
        <div class="col-lg-4 col-sm-12 feature-two ">
          <i class="fas fa-calendar-check fa-4x featureicon"></i>
          <h3>Book sessions.</h3>
          <p>You can book free trial sessions</p>
        </div>
        <div class="col-lg-4 col-sm-12  feature-two ">
          <i class="fas fa-pencil-alt fa-4x featureicon"></i>
          <h3>Give review</h3>
          <p>You can tell about your experience to help other users.</p>
        </div>
      </div>
    </section>

  <div class="container-fluid front1">

  </div>

    <section id="features">
      <h2 class="howit">Features</h2>
      <div class="row  container-fluid">
        <div class="col-lg-4 col-sm-12 feature-two">
          <i class="fas fa-running fa-4x featureicon"></i>
          <h3>Users</h3>
          <p>Find the best gym for you and get fitter!</p>
        </div>
        <div class="col-lg-4 col-sm-12 feature-two">
          <i class="fas fa-user-tie fa-4x featureicon"></i>
          <h3>Gym Owner</h3>
          <p>Create a gym profile and help users to get fitter!</p>
        </div>
        <div class="col-lg-4 col-sm-12  feature-two">
          <i class="fas fa-star-half-alt fa-4x featureicon"></i>
          <h3>Review</h3>
          <p>Write a review for the gym or the trainer.</p>
        </div>
      </div>
    </section>



    <div class="container-fluid front2">

    </div>


 

    <div class="container-fluid why1">

    </div>

    <!-- Plastic     -->


    <!-- users -->

    <section id="features1">
      
      <div class="row  container-fluid">
        <div class="col-lg-6 col-sm-12 feature-two glass1">

        </div>
        <div class="col-lg-6 col-sm-12 feature-two glass2">
          <i class="fas fa-running fa-4x featureicon"></i>
          <h3>Users</h3>
          <p>As a user, you can see the gym rank based on other users. You can search the closest gym near you and book trial sessions. </p>

          </div>

      </div>
    </section>

    <!-- owners -->

    <section id="features2">
      
      <div class="row  container-fluid">
        
        <div class="col-lg-6 col-sm-12 feature-two cardboard2">
          <i class="fas fa-user-tie fa-4x featureicon"></i>
          <h3>Gym Owners</h3>
          <p>Gym owners can add gym and its details to our website.</p>

          </div>
          <div class="col-lg-6 col-sm-12 feature-two cardboard1">

        </div>

      </div>
    </section>


    
</main>