
<main>
<div class="main">

        <section class="signup">
            
            <div class="container">
                <div class="signup-content">
                    {{#if message}}
                    <h1>{{message}}</h1>
                    {{else}}
                    <p class="ntfd">Something Went Wrong</p>
                    {{/if}}

    
                    <a class="btn btn-primary center" href="/gyms">Home</a>
                </div>
            </div>

        </section>
<br>
<br>
<br>
    </div>




</main>