
<main>
   


 <div class="main">

        <section class="signup">
            
            <div class="container">
                <div class="signup-content">
                    <form action = "/review/addReviewToGym/{{gymId.id}}" class="signup-form" method="POST" id="add_reivew"></form>
                        <h2 class="form-title">Want other people know what you think?
    Leave a comment here!</h2>
                        

                        <div class="form-row">
                        <div class="form-group col-md-12 mb-4">
                            <label for="your_reivew" id="reviewInfo">Leave your review here:</label><br>
                            <input class ="form-input" type="text" id="your_reivew" name="review"><br>
                        </div>
                        </div>

                        <div class="form-row">
                        <div class="form-group col-md-6 mb-3">
                          
                          <select class="form-control" id="your_rating" name="city" placeholder="Giva a Score (1-5)">
                              <option value="1" class="gray">Giva a Score (1-5)</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                        </div>
                        </div>

                        
                        
                             
                        
                    <div class="form-group">
                <input class="form-submit" type="submit" name="submit" value="submit">
        </div>
        
        </form>
                   
                </div>
            </div>
        </section>

    </div>
    
    {{#if ReviewNotProvide}}
    <p class = "error">You can not leave your review empty</p>
    {{/if}}

    {{#if reviewTypeWrong}}
    <p class = "error">Please enter the correct type review</p>
    {{/if}}

    {{#if reviewSapce}}
    <p class = "error">Your review can not be all white space </p>
    {{/if}}

    {{#if ratingNotProvide}}
    <p class = "error">You need to provide a rating</p>
    {{/if}}

    {{#if ratingTypeWrong}}
    <p class = "error">You need to give a rgiht type rating </p>
    {{/if}}

    {{#if ratingWrong}}
    <p class = "error">You need to give a valid number</p>
    {{/if}}
</main>