
<main>
   


 <div class="main">

        <section class="signup">
            
            <div class="container">
                <div class="signup-content">
                    <form action = "/order/booking/{{gymId.id}}" method="POST" id="make_an_order">
                    <h1 hidden></h1>
                        <h2 class="form-title">Want other people know what you think?
    Leave a comment here!</h2>
                        

                        <div class="form-row">
                        <div class="form-group col-md-12 mb-4">
                            <label for="new_order_date" id="dateInfo">Choose a date (Your date must be mm/dd/yyyy):</label><br>
        <input type="text" id="new_order_date" name="date"><br>
                        </div>
                        </div>

                        <div class="form-row">
                        <div class="form-group col-md-6 mb-3">
                          
                          <label for="new_order_time" id="timeInfo">Choose a time (Your time must be like 09:00, 11:35 or 20:05):</label><br>
        <input type="time" id="new_order_time" name="time"
       required>
        
                        </div>
                        </div>

                        
                        
                             
                        
                    <div class="form-group">
                <input class="form-submit" type="submit" name="submitForm" value="submitForm">
        </div>

        <div class="form-group" id="error-container" hidden>
        <div class="alert alert-danger text-goes-here">
        </div>
        </div>
        
        </form>

        {{#if dateNotProvide}}
    <p class = "error">You can not leave your order date empty</p>
    {{/if}}

    {{#if timeNotProvide}}
    <p class = "error">You can not leave your order date empty</p>
    {{/if}}

    {{#if dateTypeWrong}}
    <p class = "error">Your date must be a string</p>
    {{/if}}

    {{#if dateAllWhiteSpace}}
    <p class = "error">Your date can not be all space</p>
    {{/if}}

    {{#if timeAllWhiteSpace}}
    <p class = "error">Your time can not be all space</p>
    {{/if}}

    {{#if notValidDate}}
    <p class = "error">Your date is not a vaild date</p>
    {{/if}}

    {{#if dateIncudeWhiteSpace}}
    <p class = "error">Your date can not incude space</p>
    {{/if}}

    {{#if canNotBookingToday}}
    <p class = "error">You can not book today's gym</p>
    {{/if}}

    {{#if bookFailed}}
    <p class = "error">Sorry, the order failed, please try later</p>
    {{/if}}
                </div>
            </div>
        </section>

    </div>

     <script src="/public/js/checkBooking.js"></script>

    
</main>