{{!-- <h1>Thanks for your order</h1>

<main>
    <h2>Your review is successful edited</h2>


</main>

<a href="/userprofile"> Change another one? </a> --}}

<main>
   

<div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    {{#if success}}
                            <div class="form-group hidden" id="error-container" >
                            <div class="alert alert-success text-goes-here">
                                 Your review is successful edited
                            </div>
                            </div>
                    {{/if}}
                    {{#if error}}
                    <div class="form-group hidden" id="error-container" >
                            <div class="alert alert-danger text-goes-here">
                                 No review to be Edited
                            </div>
                        </div>
                   
                    {{/if}}
                    <a class="btn btn-primary" href="/userprofile"> Go back to your profile </a>

                </div>
            </div>

        </section>
<br>
<br>
<br>
    </div>




</main>
