{{!-- <h1>Thanks for your order</h1>

<main>
<div class="main">

        <section class="signup">
            
            <div class="container">
                <div class="signup-content">
                    <h2>Your Order is successful added</h2>

                    
                    <a class="btn btn-primary center" href="/userprofile"> Change another one? </a>
                </div>
            </div>

<a href="/gyms"> Book another one? </a> --}}


<div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    {{#if success}}
                            <div class="form-group hidden" id="error-container" >
                            <div class="alert alert-success text-goes-here">
                                 Your order is successfully add
                            </div>
                            </div>
                    {{/if}}
                    {{#if error}}
                    <div class="form-group hidden" id="error-container" >
                            <div class="alert alert-danger text-goes-here">
                                Book failed, try later
                            </div>
                        </div>
                   
                    {{/if}}
                    
                    <a href="/userprofile"> Back to home page </a>
                </div>
            </div>

        </section>
<br>
<br>
<br>
    </div>




</main>